@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --light2: #f3f3f3;
}
.dark {
    --light: #26323c;
    --gray-dark: #b4bfca;
    --white: #2b3844;
    --black: #fff;
    --gray: #b4b4b4;
    --dark: #494b4d;
    --light2: #222d37;
}
.dark .card,
.dark .modal-content,
.dark .img-thumbnail,
.contact-input {
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: var(--white);
}

.dark .modal-header {
    border-bottom: 1px solid var(--dark);
}
.dark .modal-footer {
    border-top: 1px solid var(--dark);
}
.dark .navbar-dark {
    color: var(--black);
}
.dark .dropdown-menu a:hover {
    background-color: var(--light);
    color: var(--gray-dark);
}
body {
    color: var(--gray-dark);
	font-family: 'Poppins', sans-serif;
	background-color: var(--white);
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 1.5;
}

.navbar {
    padding: 8px;
    background-color: var(--white);
}

.themeSwitch {
    width: 40px;
    height: 40px;
    background-color: var(--light);
    display: flex;
    border-radius: 50px;
    cursor: pointer;
    justify-content: center;
    margin: auto;
}

.themeSwitch::before {
    content: url(../img/icon/sun.png);
    margin-top: 8px;
}
.themeSwitch.active::before {
    content: url(../img/icon/moon.png);
}
.row {
    margin-top: 120px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.row .textBox {
    margin-top: 30px;
    max-width: 100%;
}
.row .textBox h2 {
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 10px;
    color: var(--black);
}
.row .textBox h2 span {
    font-size: 1.2em;
    color: var(--primary);
}
.row .textBox .btn,
.form-control {
    border: 1px solid var(--primary);
}
.dropdown-menu.show {
    background: var(--white);
}
.dropdown-menu a {
    color: var(--gray-dark)
}
.card-body .go,
.contact-link a {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: var(--primary);
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.row .imgBox {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .imgBox img {
    position: relative;
    width: 100%;
}
.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    height: 45px;
}

.iconBox li {
    font-size: 20px;
    text-decoration: none;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    
}
.iconBox li a {
    border-radius: 40px;
    color: var(--gray-dark);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background: var(--white);
    align-items: center;
    justify-content: center;
    line-height: 45px;
    display: inline-block;
    height: 45px;
    width: 45px;
}
.iconBox li a:hover {
    background: var(--primary);
    color: var(--white);
}
.muncul {
    animation: muncul 3s ease;
}
.contact-input input {
    width: 100%;
    height: 40px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: var(--gray-dark);
}
.contact-input a {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 5px;
}
.contact-input {
    margin: 0 auto;
    padding: 0;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 3rem;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.img-conten {
    margin: 0 auto;
}
@keyframes muncul {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.about {
    background-color: var(--light);
}
.gallery {
    background-color: var(--light2);
}
.card {
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    background-color: var(--white);
    margin-top: 3rem;
}
.card:hover {
    transform: translateY(-40px);
    transition: all ease 0.4s;
}
.iconBox li:hover {
    transform: translateY(-10px);
    transition: all ease 0.4s;
}

.modal-content {
    background-color: var(--white);
    border-radius: 15px;
    border: none;
}
.modal-content .close {
    color: var(--black);
    text-shadow: 0 1px 0 var(--white);
}
.modal-footer {
    padding: 0.75rem 0;
}
.form-control {
    border: 1px solid var(--primary);
}
